@source "../node_modules/@cloudflare/kumo/dist/**/*.{js,jsx,ts,tsx}";
@import "@cloudflare/kumo/styles/tailwind";
@import "tailwindcss";

* {
  scrollbar-color: var(--ui-bg-accented) transparent;
  scrollbar-width: thin;
  -webkit-tap-highlight-color: transparent;
}
